* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{ /*todas as notas possiveis pra salvar meus conterraneos estarão aqui*/
    font-family: Overpass;
    src: url(fonte/Overpass-VariableFont_wght.ttf);
}

@media screen and (min-width:768px) {/*recursividade para tela de tablet e pc, por algum motivo so funcionou com isso*/
    p{
        font-size: 16px;

    }
    .aprender{
    margin-top:150px;
}
.materiais{
    margin-top:100px;

}
.grupo{
    margin-top:50px;
}
.caixas{
    width: 860px;
}
p{
    font-size: 16px;
}
h1{
    font-family: overpass;
    padding-left: 40px;
    margin:4px;
}
h5{
    padding-left: 40px;
    margin:3px;
}
section h1{
    font-size: 3rem;
}
section h3{
    font-size: 1.4rem;
}
.caixas{
    height: auto;
    width: auto;
}
}
@media screen and (max-width:1023px) {/*tela de tablet apenas*/
    .figura{
        display: none;

    }

    .directione{
        flex-direction: column;
    }
    .produto{
        
        justify-content: center;
    }
}

@media screen and (max-width:767px) {/*mobile, vulgo meu orgulho*/
    .caixinha{
        margin: 0px;
    }
    .base img{
        display: none;
    }
    section h1{
        margin: 0px;
        font-size: 3.1rem;
        font-family: Overpass;
    }
    h5{
        font-size: 2rem;
        margin: 0px;
        font-family: Overpass;

    }
    .caixinha p{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 1.2rem;
        text-wrap: wrap;
    }
    
    .caixas{ /*tela o scroll do pai*/
    border: 5px solid #bed5cd;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    }
    .caixas{
        margin-top: 20px;
        margin-left: 20%;
        width:350px;
    }
    
    
}
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url(images/back.png);
    background-position: fixed;
    background-repeat: no-repeat;
}

.black-box{
    width: 100%;
    height: 110px;
}

header{
    background-color: #040707;
    width: 100%;
    height: 14%;
    position: fixed;
    display: flex;
    align-items: center;
}

h4 {
    font-family: Overpass;
    color: white;
    
}
.figura{
    margin-left: 80px;
    width: 225px;
    grid-area: figura;
    
}

nav {
    background-color: #040707;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 50px;
    width: 80%
}
nav h4{
    padding-right: 13px;
    border-right: white solid 2px;

}
.directione{
    display: flex;
}
.title {
    width: auto;
    margin-left: 1%;
}

.title img {
    width: 200px;
}
section{
    padding-top: 40px;
    font-family: Overpass;
    color:rgb(0, 0, 0);
}
section h1{
    font-size: 3rem;
}
section h3{
    font-size: 1.4rem;
}
.caixas{
    margin-left: 100px;
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}


.caixinha{
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    min-width: 200px;
    height: 240px;
    border: black solid 1px;
    border-radius: 25px;
    background-color: #47C4E0;
}

.caixinha img {
    
    width: 30%;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}


section button{
    margin-top: 20px;
    margin-left:40px ;
    font-size: 1rem;
    color: white;
    border-radius: 56px;
    border: black 1px solid;
    padding:12px 20px 12px 20px ;
    background-color: #203135;
}

.box{
    width: 100%;
    height: auto;
    grid-area:box;
    background: none;
}

.texto{
    padding-bottom: 7px;
}
.playstore{
    margin-left: 10px;
    grid-area: playstore;
}
.appstore{
    
    grid-area: appstore;
}
.produto{
    height: 100px;
    margin-bottom: 0px;
    margin-left: 45px;
    display: grid;
    grid-template-areas: 
    "figura"
    "appstore"
    "playstore"
    ;
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    color: white;
}

a:after {
    content: "";
    position: absolute;
    background-color: #12a8f5;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover:after {
    width:100%;
}
/*Fim da home, Inicio da Contact Us*/
.fundo{
    width: 100%;
    height: 100%;
    background-image: url(images/contactus.png);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
fieldset{
    background-color: rgba(0, 0, 0, 0.017);
    margin-left: 40px;
    border: rgba(109, 96, 96, 0.5) solid 2px;
    width: 450px;
    height: 66%;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 2px 2px;
}
.tituloCont{
    margin-top: 25px;
    margin-bottom: 8px;
    font-family: Overpass;
    font-size: 56px
}
.formulario{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.mensagem{
    font-size: 1.4rem;
    padding-left: 20px;
    margin-top: 40px;
    height: 210px;
    width: 90%;
    border-radius: 19px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px 1px;
}
.formu{
    font-size: 1.4rem;
    padding-left: 20px;
    margin-top: 40px;
    height: 64px;
    width: 90%;
    border-radius: 19px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px 1px;
}
.formulario button{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px ;
    background-color: #03b0d6;
    margin-top: 20px;
    border: none;
    width: 160px;
    height: 50px;
    color: white;
    font-size:1.05rem;
    border-radius: 31px;
}
.base{
    display: flex;
justify-content: space-between;}
.base img{
    width: 500px;
    height: 500px;
    margin-right: 50px;
}